@font-face {
    font-family: 'Rampart One';
    src: url('RampartOne-Regular.eot');
    src: url('RampartOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('RampartOne-Regular.woff2') format('woff2'),
        url('RampartOne-Regular.woff') format('woff'),
        url('RampartOne-Regular.ttf') format('truetype'),
        url('RampartOne-Regular.svg#RampartOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

